In [10]:
pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.9.0-py3-none-any.whl.metadata (26 kB)
Requirement already satisfied: ipython in /home/codespace/.local/lib/python3.10/site-packages (from ipython-sql) (8.18.1)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from ipython-sql) (2.0.25)
Requirement already satisfied: sqlparse in /usr/local/python/3.10.13/lib/python3.10/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /home/codespace/.local/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Collecting ipython-genutils (from ipython-sql)
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in /home/codespace/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /home/codespace/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /home/codespace/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /home/codespace/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.41)
Requirement already satisfied: pygments>=2.4.0 in /home/codespace/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in /home/codespace/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5 in /home/codespace/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (5.14.0)
Requirement already satisfied: exceptiongroup in /home/codespace/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (1.2.0)
Requirement already satisfied: pexpect>4.3 in /home/codespace/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /home/codespace/.local/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.12)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /home/codespace/.local/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /home/codespace/.local/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /home/codespace/.local/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /home/codespace/.local/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /home/codespace/.local/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading prettytable-3.9.0-py3-none-any.whl (27 kB)
Installing collected packages: ipython-genutils, prettytable, ipython-sql
Successfully installed ipython-genutils-0.2.0 ipython-sql-0.5.0 prettytable-3.9.0

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

```bash
pip install sqlalchemy psycopg2-binary 
```

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [4]:
engine.connect()

In [5]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1

In [6]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_trips,root,None,True,False,False,False
1,public,yellow_tripdata_trip,root,None,False,False,False,False
2,public,green_taxi_trips_Sep2019,root,None,False,False,False,False
3,public,green_taxi_data_2019,root,None,True,False,False,False
4,public,zones,root,None,True,False,False,False
5,public,yellow_taxi_trips_2019,root,None,True,False,False,False

In [24]:
#df = pd.read_csv('green_tripdata_2019-09.csv.gz', nrows=100)
df = pd.read_csv('green_tripdata_2019-09.csv.gz')

/tmp/ipykernel_24036/1742314038.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-09.csv.gz')

In [11]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [25]:
df.shape

(449063, 20)

In [18]:
df.to_sql(name='green_taxi_trips_2019', con=engine, index=False, if_exists = 'replace')

63

In [11]:
pd = %sql select * from runtime.queries limit 1
pd.DataFrame().head()

UsageError: Line magic function `%sql` not found.

In [17]:
query = """
SELECT * FROM green_taxi_trips_Sep2019 LIMIT 10
"""

pd.read_sql(query, con=engine)

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "green_taxi_trips_sep2019" does not exist
LINE 2: SELECT * FROM green_taxi_trips_Sep2019 LIMIT 10
                      ^

[SQL:
SELECT * FROM green_taxi_trips_Sep2019 LIMIT 10
]
(Background on this error at: https://sqlalche.me/e/20/f405)

```sql
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
```

Source: https://www.postgresqltutorial.com/postgresql-show-tables/

In [8]:
%sql

UsageError: Line magic function `%sql` not found.