In [64]:
!pip install duckdb

Collecting duckdb
  Downloading duckdb-0.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (760 bytes)
Downloading duckdb-0.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.5/16.5 MB 34.7 MB/s eta 0:00:00m eta 0:00:010:0101
Installing collected packages: duckdb
Successfully installed duckdb-0.9.2

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python -m pip install --upgrade pip

In [65]:
import duckdb

In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.3'

In [3]:
df = pd.read_csv('green_tripdata_2019-09.csv.gz', nrows=100)

In [4]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
print(pd.io.sql.get_schema(df, name='green_taxi_data_2019', con=engine))

CREATE TABLE green_taxi_data_2019 (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [49]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv.gz', iterator=True, chunksize=10000)

In [50]:
df = next(df_iter)

In [52]:
len(df)

10000

In [53]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [59]:
df.shape

(9063, 20)

In [55]:
df.head(n=0).to_sql(name='green_taxi_data_2019', con=engine, if_exists='replace')

0

In [56]:
%time df.to_sql(name='green_taxi_data_2019', con=engine, if_exists='append')

CPU times: user 620 ms, sys: 3.94 ms, total: 624 ms
Wall time: 882 ms

1000

In [57]:
from time import time

In [58]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data_2019', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 1.039 second
inserted another chunk, took 0.883 second
inserted another chunk, took 0.863 second
inserted another chunk, took 1.020 second
inserted another chunk, took 0.891 second
inserted another chunk, took 0.930 second
inserted another chunk, took 0.979 second
inserted another chunk, took 1.035 second
inserted another chunk, took 0.967 second
inserted another chunk, took 1.011 second
inserted another chunk, took 0.918 second
inserted another chunk, took 1.051 second
inserted another chunk, took 0.962 second
inserted another chunk, took 0.927 second
inserted another chunk, took 0.930 second
inserted another chunk, took 0.882 second
inserted another chunk, took 1.126 second
inserted another chunk, took 0.929 second
inserted another chunk, took 1.067 second
inserted another chunk, took 0.885 second
inserted another chunk, took 0.955 second
inserted another chunk, took 1.003 second
inserted another chunk, took 1.039 second
inserted another chunk, took 0.882 second
inserted another chunk, took 0.964 second
inserted another chunk, took 1.170 second
inserted another chunk, took 0.923 second
inserted another chunk, took 1.041 second
inserted another chunk, took 0.996 second
inserted another chunk, took 0.961 second
inserted another chunk, took 0.988 second
inserted another chunk, took 0.944 second
inserted another chunk, took 0.979 second
inserted another chunk, took 0.950 second
inserted another chunk, took 0.955 second
inserted another chunk, took 1.018 second
inserted another chunk, took 0.899 second
inserted another chunk, took 0.989 second
inserted another chunk, took 0.832 second
inserted another chunk, took 1.113 second
inserted another chunk, took 0.795 second
inserted another chunk, took 0.775 second
inserted another chunk, took 0.807 second
inserted another chunk, took 0.770 second

StopIteration:

In [60]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-01-27 17:15:13--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.104.14, 52.217.71.206, 52.217.136.168, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.104.14|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv.1’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-01-27 17:15:14 (136 MB/s) - ‘taxi+_zone_lookup.csv.1’ saved [12322/12322]

In [61]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [62]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [63]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [67]:
duckdb.query("select * from df_zones WHERE Zone = 'Astoria'").show()

┌────────────┬─────────┬─────────┬──────────────┐
│ LocationID │ Borough │  Zone   │ service_zone │
│   int64    │ varchar │ varchar │   varchar    │
├────────────┼─────────┼─────────┼──────────────┤
│          7 │ Queens  │ Astoria │ Boro Zone    │
└────────────┴─────────┴─────────┴──────────────┘