# **Homework**: Data talks club data engineering zoomcamp Data loading workshop

Hello folks, let's practice what we learned - Loading data with the best practices of data engineering.

Here are the exercises we will do

# 1. Use a generator

Remember the concept of generator? Let's practice using them to futher our understanding of how they work.

Let's define a generator and then run it as practice.

**Answer the following questions:**

- **Question 1: What is the sum of the outputs of the generator for limit = 5?**
- **Question 2: What is the 13th number yielded**

I suggest practicing these questions without GPT as the purpose is to further your learning.

In [5]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 5
generator = square_root_generator(limit)

result = 0
for i, sqrt_value in enumerate(generator):
    print(sqrt_value)
    result += sqrt_value
print(result) 
# Q1 8.382332347441762

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
2.449489742783178
2.6457513110645907
2.8284271247461903
3.0
3.1622776601683795
3.3166247903554
3.4641016151377544
3.605551275463989
32.854555867161245

In [7]:
limit = 13
generator = square_root_generator(limit)

result = 0
for i, sqrt_value in enumerate(generator, start = 1):
    if i == 13:
        print(sqrt_value)

# Q2 3.605551275463989

3.605551275463989

# 2. Append a generator to a table with existing data


Below you have 2 generators. You will be tasked to load them to duckdb and answer some questions from the data

1. Load the first generator and calculate the sum of ages of all people. Make sure to only load it once.
2. Append the second generator to the same table as the first.
3. **After correctly appending the data, calculate the sum of all ages of people.**

In [22]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


for person in people_2():
    print(person)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

# 3. Merge a generator

Re-use the generators from Exercise 2.

A table's primary key needs to be created from the start, so load your data to a new table with primary key ID.

Load your first generator first, and then load the second one with merge. Since they have overlapping IDs, some of the records from the first load should be replaced by the ones from the second load.

After loading, you should have a total of 8 records, and ID 3 should have age 33.

Question: **Calculate the sum of ages of all the people loaded as described above.**

# Solution: First make sure that the following modules are installed:

In [9]:
#Install the dependencies
# %%capture
!pip install dlt[duckdb]

Collecting dlt[duckdb]
  Downloading dlt-0.4.4-py3-none-any.whl.metadata (9.7 kB)
Requirement already satisfied: PyYAML>=5.4.1 in /home/codespace/.local/lib/python3.10/site-packages (from dlt[duckdb]) (6.0.1)
Requirement already satisfied: SQLAlchemy>=1.4.0 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from dlt[duckdb]) (2.0.25)
Collecting astunparse>=1.6.3 (from dlt[duckdb])
  Downloading astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: click>=7.1 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from dlt[duckdb]) (8.1.7)
Requirement already satisfied: fsspec>=2022.4.0 in /home/codespace/.local/lib/python3.10/site-packages (from dlt[duckdb]) (2023.12.1)
Requirement already satisfied: gitpython>=3.1.29 in /home/codespace/.local/lib/python3.10/site-packages (from dlt[duckdb]) (3.1.40)
Collecting giturlparse>=0.10.0 (from dlt[duckdb])
  Downloading giturlparse-0.12.0-py2.py3-none-any.whl.metadata (4.5 kB)
Collecting hexbytes>=0.2.2 (from dlt[duckdb])
  Downloading hexbytes-1.0.0-py3-none-any.whl.metadata (5.3 kB)
Collecting humanize>=4.4.0 (from dlt[duckdb])
  Downloading humanize-4.9.0-py3-none-any.whl.metadata (7.9 kB)
Collecting jsonpath-ng>=1.5.3 (from dlt[duckdb])
  Downloading jsonpath_ng-1.6.1-py3-none-any.whl.metadata (18 kB)
Collecting makefun>=1.15.0 (from dlt[duckdb])
  Downloading makefun-1.15.2-py2.py3-none-any.whl.metadata (3.0 kB)
Collecting orjson<=3.9.10,>=3.6.7 (from dlt[duckdb])
  Downloading orjson-3.9.10-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.3/49.3 kB 548.6 kB/s eta 0:00:00 kB/s eta 0:00:0101
Requirement already satisfied: packaging>=21.1 in /home/codespace/.local/lib/python3.10/site-packages (from dlt[duckdb]) (23.2)
Collecting pathvalidate>=2.5.2 (from dlt[duckdb])
  Downloading pathvalidate-3.2.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: pendulum>=2.1.2 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from dlt[duckdb]) (3.0.0)
Requirement already satisfied: pytz>=2022.6 in /home/codespace/.local/lib/python3.10/site-packages (from dlt[duckdb]) (2023.3.post1)
Requirement already satisfied: requests>=2.26.0 in /home/codespace/.local/lib/python3.10/site-packages (from dlt[duckdb]) (2.31.0)
Collecting requirements-parser>=0.5.0 (from dlt[duckdb])
  Downloading requirements_parser-0.5.0-py3-none-any.whl (18 kB)
Collecting semver>=2.13.0 (from dlt[duckdb])
  Downloading semver-3.0.2-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: setuptools>=65.6.0 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from dlt[duckdb]) (68.2.2)
Collecting simplejson>=3.17.5 (from dlt[duckdb])
  Downloading simplejson-3.19.2-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.1 kB)
Requirement already satisfied: tenacity>=8.0.2 in /home/codespace/.local/lib/python3.10/site-packages (from dlt[duckdb]) (8.2.3)
Collecting tomlkit>=0.11.3 (from dlt[duckdb])
  Downloading tomlkit-0.12.3-py3-none-any.whl.metadata (2.7 kB)
Requirement already satisfied: typing-extensions>=4.0.0 in /home/codespace/.local/lib/python3.10/site-packages (from dlt[duckdb]) (4.8.0)
Requirement already satisfied: tzdata>=2022.1 in /home/codespace/.local/lib/python3.10/site-packages (from dlt[duckdb]) (2023.3)
Requirement already satisfied: duckdb<0.10.0,>=0.6.1 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from dlt[duckdb]) (0.9.2)
Collecting wheel<1.0,>=0.23.0 (from astunparse>=1.6.3->dlt[duckdb])
  Using cached wheel-0.42.0-py3-none-any.whl.metadata (2.2 kB)
Requirement already satisfied: six<2.0,>=1.6.1 in /home/codespace/.local/lib/python3.10/site-packages (from astunparse>=1.6.3->dlt[duckdb]) (1.16.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /home/codespace/.local/lib/python3.10/site-packages (from gitpython>=3.1.29->dlt[duckdb]) (4.0.11)
Collecting ply (from jsonpath-ng>=1.5.3->dlt[duckdb])
  Downloading ply-3.11-py2.py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.6/49.6 kB 1.1 MB/s eta 0:00:00 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.6 in /home/codespace/.local/lib/python3.10/site-packages (from pendulum>=2.1.2->dlt[duckdb]) (2.8.2)
Requirement already satisfied: time-machine>=2.6.0 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from pendulum>=2.1.2->dlt[duckdb]) (2.13.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/codespace/.local/lib/python3.10/site-packages (from requests>=2.26.0->dlt[duckdb]) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.10/site-packages (from requests>=2.26.0->dlt[duckdb]) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from requests>=2.26.0->dlt[duckdb]) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.10/site-packages (from requests>=2.26.0->dlt[duckdb]) (2023.11.17)
Collecting types-setuptools>=57.0.0 (from requirements-parser>=0.5.0->dlt[duckdb])
  Downloading types_setuptools-69.0.0.20240125-py3-none-any.whl.metadata (1.6 kB)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from SQLAlchemy>=1.4.0->dlt[duckdb]) (3.0.3)
Requirement already satisfied: smmap<6,>=3.0.1 in /home/codespace/.local/lib/python3.10/site-packages (from gitdb<5,>=4.0.1->gitpython>=3.1.29->dlt[duckdb]) (5.0.1)
Downloading giturlparse-0.12.0-py2.py3-none-any.whl (15 kB)
Downloading hexbytes-1.0.0-py3-none-any.whl (5.9 kB)
Downloading humanize-4.9.0-py3-none-any.whl (126 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 126.8/126.8 kB 1.5 MB/s eta 0:00:00[31m2.3 MB/s eta 0:00:01
Downloading jsonpath_ng-1.6.1-py3-none-any.whl (29 kB)
Downloading makefun-1.15.2-py2.py3-none-any.whl (22 kB)
Downloading orjson-3.9.10-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (138 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 138.7/138.7 kB 3.2 MB/s eta 0:00:001 MB/s eta 0:00:01
Downloading pathvalidate-3.2.0-py3-none-any.whl (23 kB)
Downloading semver-3.0.2-py3-none-any.whl (17 kB)
Downloading simplejson-3.19.2-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (137 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 137.9/137.9 kB 3.4 MB/s eta 0:00:00[31m14.5 MB/s eta 0:00:01
Downloading tomlkit-0.12.3-py3-none-any.whl (37 kB)
Downloading dlt-0.4.4-py3-none-any.whl (540 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 540.7/540.7 kB 5.4 MB/s eta 0:00:00[36m0:00:010:00:01
Downloading types_setuptools-69.0.0.20240125-py3-none-any.whl (51 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 51.3/51.3 kB 1.4 MB/s eta 0:00:00
Using cached wheel-0.42.0-py3-none-any.whl (65 kB)
Installing collected packages: ply, makefun, wheel, types-setuptools, tomlkit, simplejson, semver, pathvalidate, orjson, jsonpath-ng, humanize, hexbytes, giturlparse, requirements-parser, astunparse, dlt
Successfully installed astunparse-1.6.3 dlt-0.4.4 giturlparse-0.12.0 hexbytes-1.0.0 humanize-4.9.0 jsonpath-ng-1.6.1 makefun-1.15.2 orjson-3.9.10 pathvalidate-3.2.0 ply-3.11 requirements-parser-0.5.0 semver-3.0.2 simplejson-3.19.2 tomlkit-0.12.3 types-setuptools-69.0.0.20240125 wheel-0.42.0

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python -m pip install --upgrade pip

In [11]:
import dlt

# define the connection to load to.
# We now use duckdb, but you can switch to Bigquery later
generators_pipeline = dlt.pipeline(destination='duckdb', dataset_name='generators')


# we can load any generator to a table at the pipeline destnation as follows:
info = generators_pipeline.run(people_1(),
										table_name="person1",
										write_disposition="replace")

# the outcome metadata is returned by the load and we can inspect it by printing it.
print(info)

Pipeline dlt_ipykernel_launcher load step completed in 0.51 seconds
1 load package(s) were loaded to destination duckdb and into dataset generators
The duckdb destination used duckdb:////workspaces/ZoomCamp2024/workshop1_data_ingestion/dlt_ipykernel_launcher.duckdb location to store data
Load package 1707836090.481978 is LOADED and contains no failed jobs

In [20]:
import duckdb

conn = duckdb.connect(f"{generators_pipeline.pipeline_name}.duckdb")

# let's see the tables
conn.sql(f"SET search_path = '{generators_pipeline.dataset_name}'")
print('Loaded tables: ')
display(conn.sql("show tables"))

# and the data

print("\n\n\n person1 table below:")

person1 = conn.sql("SELECT * FROM person1").df()
display(person1)

Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ person1             │
└─────────────────────┘

 person1 table below:

    id      name  age    city        _dlt_load_id         _dlt_id occupation
0    1  Person_1   26  City_A   1707836090.481978  /ScZlxSRG8eqTg       None
1    2  Person_2   27  City_A   1707836090.481978  uojOoo3PerwlwA       None
2    3  Person_3   28  City_A   1707836090.481978  mHcx2rNw7gGffQ       None
3    4  Person_4   29  City_A   1707836090.481978  xbPkajGZ4LDHYg       None
4    5  Person_5   30  City_A   1707836090.481978  J2ZBgDycnpWAvQ       None
5    3  Person_3   33  City_B  1707836537.8145154  7VEtpIzFOC7C3Q      Job_3
6    4  Person_4   34  City_B  1707836537.8145154  SQYI2h+1Cd6aPQ      Job_4
7    5  Person_5   35  City_B  1707836537.8145154  JmVIPnqgfyOcMQ      Job_5
8    6  Person_6   36  City_B  1707836537.8145154  hL4Wlw1/ViJibw      Job_6
9    7  Person_7   37  City_B  1707836537.8145154  qYEZW+zQQQOenw      Job_7
10   8  Person_8   38  City_B  1707836537.8145154  rWq9TJSKKekocw      Job_8

In [15]:
duckdb.sql(f"select sum(age) from person1")

┌──────────┐
│ sum(age) │
│  int128  │
├──────────┤
│      140 │
└──────────┘

In [16]:
# Append data
info = generators_pipeline.run(people_2(),
										table_name="person1",
										write_disposition="append")
print(info)

Pipeline dlt_ipykernel_launcher load step completed in 0.25 seconds
1 load package(s) were loaded to destination duckdb and into dataset generators
The duckdb destination used duckdb:////workspaces/ZoomCamp2024/workshop1_data_ingestion/dlt_ipykernel_launcher.duckdb location to store data
Load package 1707836537.8145154 is LOADED and contains no failed jobs

In [ ]:
import duckdb

conn = duckdb.connect(f"{generators_pipeline.pipeline_name}.duckdb")

# let's see the tables
conn.sql(f"SET search_path = '{generators_pipeline.dataset_name}'")
print('Loaded tables: ')
display(conn.sql("show tables"))

# and the data

print("\n\n\n person1 table below:")

person1 = conn.sql("SELECT * FROM person1").df()
display(person1)

In [21]:
duckdb.sql(f"select sum(age) from person1")
# Q3 353

┌──────────┐
│ sum(age) │
│  int128  │
├──────────┤
│      353 │
└──────────┘

In [23]:
import dlt

# define the connection to load to.
# We now use duckdb, but you can switch to Bigquery later
generators_pipeline = dlt.pipeline(destination='duckdb', dataset_name='generators')


# we can load any generator to a table at the pipeline destnation as follows:
info = generators_pipeline.run(people_1(),
										table_name="person1",
										write_disposition="replace")

# the outcome metadata is returned by the load and we can inspect it by printing it.
print(info)

Pipeline dlt_ipykernel_launcher load step completed in 0.25 seconds
1 load package(s) were loaded to destination duckdb and into dataset generators
The duckdb destination used duckdb:////workspaces/ZoomCamp2024/workshop1_data_ingestion/dlt_ipykernel_launcher.duckdb location to store data
Load package 1707837877.6694658 is LOADED and contains no failed jobs

In [24]:
import duckdb

conn = duckdb.connect(f"{generators_pipeline.pipeline_name}.duckdb")

# let's see the tables
conn.sql(f"SET search_path = '{generators_pipeline.dataset_name}'")
print('Loaded tables: ')
display(conn.sql("show tables"))

# and the data

print("\n\n\n person1 table below:")

person1 = conn.sql("SELECT * FROM person1").df()
display(person1)

Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ person1             │
└─────────────────────┘

 person1 table below:

   id      name  age    city        _dlt_load_id         _dlt_id occupation
0   1  Person_1   26  City_A  1707837877.6694658  kRt8fm8TvQcsNA       None
1   2  Person_2   27  City_A  1707837877.6694658  XQrGtzSpB53q4g       None
2   3  Person_3   28  City_A  1707837877.6694658  WVsHP7XjcjMJXw       None
3   4  Person_4   29  City_A  1707837877.6694658  ArJeVHHt1GiPog       None
4   5  Person_5   30  City_A  1707837877.6694658  RJYOuzCKfDcuaQ       None

In [26]:
pipeline = dlt.pipeline(destination='duckdb', dataset_name='generators')



# run with merge write disposition.
# This is so scaffolding is created for the next example,
# where we look at merging data

info = pipeline.run(people_2(),
										table_name="person1",
										write_disposition="merge",
                    primary_key="id")

print(info)

Pipeline dlt_ipykernel_launcher load step completed in 0.46 seconds
1 load package(s) were loaded to destination duckdb and into dataset generators
The duckdb destination used duckdb:////workspaces/ZoomCamp2024/workshop1_data_ingestion/dlt_ipykernel_launcher.duckdb location to store data
Load package 1707838062.79119 is LOADED and contains no failed jobs

In [27]:
# show the outcome

conn = duckdb.connect(f"{pipeline.pipeline_name}.duckdb")

# let's see the tables
conn.sql(f"SET search_path = '{pipeline.dataset_name}'")
print('Loaded tables: ')
display(conn.sql("show tables"))


print("\n\n\n Rides table below: Note the times are properly typed")
person1 = conn.sql("SELECT * FROM person1").df()
display(person1)

Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ person1             │
└─────────────────────┘

 Rides table below: Note the times are properly typed

   id      name  age    city        _dlt_load_id         _dlt_id occupation
0   1  Person_1   26  City_A  1707837877.6694658  kRt8fm8TvQcsNA       None
1   2  Person_2   27  City_A  1707837877.6694658  XQrGtzSpB53q4g       None
2   8  Person_8   38  City_B    1707838062.79119  7XGydAdYsihOcQ      Job_8
3   4  Person_4   34  City_B    1707838062.79119  BXnqPzOEJhR9Dw      Job_4
4   5  Person_5   35  City_B    1707838062.79119  wBjUHy89INRhpg      Job_5
5   7  Person_7   37  City_B    1707838062.79119  CqYP6wlVzVlWwA      Job_7
6   3  Person_3   33  City_B    1707838062.79119  DQp4v/Xy2eHKPg      Job_3
7   6  Person_6   36  City_B    1707838062.79119  zcYCROibnvh4Ng      Job_6

In [28]:
duckdb.sql(f" select count(1) from person1")

┌──────────┐
│ count(1) │
│  int64   │
├──────────┤
│        8 │
└──────────┘

In [29]:
duckdb.sql(f" select age from person1 where id = 3")
# 33

┌───────┐
│  age  │
│ int64 │
├───────┤
│    33 │
└───────┘

In [30]:
duckdb.sql(f" select sum(age) from person1")
# 266

┌──────────┐
│ sum(age) │
│  int128  │
├──────────┤
│      266 │
└──────────┘

Questions? difficulties? We are here to help.
- DTC data engineering course channel: https://datatalks-club.slack.com/archives/C01FABYF2RG
- dlt's DTC cohort channel: https://dlthub-community.slack.com/archives/C06GAEX2VNX